body,
html,
ul {
  margin: 0;
  padding: 0;
  /* filter: brightness(90%); */
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  /* here the heigh of 100vh means that the container has all vertical space,
  so no effect from align-items center */
  height: 100vh;
  background-color: #3c3836;
}

li {
  font-family: 'BIG_GIPSY_BRO', sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: #505050;
  height: 12px;
  width: 12px;
  text-align: center;
}

.content {
  display: flex;
  /* justify-content centers .background-cat */
  justify-content: center;
  /* here, align-items does something, as it moves items within heigh 100vh*/
  align-items: center;
}

.background-cat {
  height: 750px;
  width: auto;
  position: absolute;
  z-index: -1;
}

.calculator {
  z-index: 1;
  padding: 15px;
  padding-top: 30px;
  border: outset 2px black;
  border-radius: 5%;
  background-color: #282828;
  box-shadow: 0px 0px 10px #000000;
}

.calculator__display {
  text-align: right;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 1%;
  border: inset 2px black;
  /* overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #282828 #79740e; */
  font-size: 45px;
  font-family: 'Digital-7 Mono', sans-serif;
  font-weight: 500;
  background-color: #79740e;
  color: #282828;
  box-shadow: 0px 0px 20px #000000;
}

.display__operands {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 4%;
  padding: 0px 5px;
  padding-bottom:10px;
}

.display__numbers {
  padding-bottom: 18px;
}

.body__row {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  margin-bottom: 2px;
}

.inclined {
  transform: rotate(-5deg);
}

.space-left {
  margin-left: 38%;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 15%;
  background-color: #282828;
  color: #bdae93;
  font-size: medium;
}

button.number,
button#dot {
  background-color: #3c3836;
}

button#zero {
  width: 100px;
}

button#clear {
  background-color: #0765785f;
}
